html,
body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNovaRegular';
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('/website/css/fonts/ProximaNova-Regular.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('/website/css/fonts/ProximaNova-Light.otf') format("opentype");
}
/*@vsmphone:        ~"only screen and (min-width: @{xs-vvmin})";*/
@media only screen and (min-width: 1200px) {
  .top_bar {
    background-color: #2c343b;
    font-family: 'ProximaNovaRegular';
    padding: 10px;
  }
  .imgSection {
    width: 20%;
    display: inline-block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 70%;
  }
  .searchSection {
    width: 49%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -11px;
  }
  .query {
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    width: 48%;
  }
  .location {
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    background: url("/website/images/toolbar_find.png") no-repeat 100% 6px;
    background-color: white;
    width: 48%;
  }
  .authSection {
    /*text-align:center;*/
    width: 29%;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 25px;
  }
  .login {
    background-color: #E94643;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    font-size: 15px;
    border-radius: 2px;
    margin-left: 100px;
  }
  .signup {
    background-color: #E94643;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    margin-left: 30px;
    font-size: 15px;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main {
    position: relative;
    height: 550px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: -100px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 3%;
    margin-bottom: 80px;
  }
  .profile_pic {
    width: 220px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 3%;
    margin-bottom: 80px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .content {
    margin: 0px 90px 0px 90px;
  }
  .vert_navbar {
    width: 20%;
    background-color: #2c343b;
    display: inline-block;
    vertical-align: top;
    height: 755px;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 40px;
    margin-top: 3px;
    padding-top: 15px;
  }
  .vert_navbar div img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .vert_navbar div span {
    font-size: 20px;
    color: white;
    vertical-align: top;
    margin-left: 20px;
  }
  .display {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-right: thin solid;
    height: 755px;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 40px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 28%;
    display: inline-block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
  }
  .vis_stores ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .store_img {
    width: 50px;
    height: 50px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .store_name {
    font-size: 10px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 155px;
  }
  .rev {
    width: 30px;
    height: 50px;
    vertical-align: top;
  }
  .fav {
    width: 30px;
    height: 45px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
  .near_stores ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .follow_suggestions ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
  .follow {
    width: 45px;
    height: 45px;
  }
  .user_img {
    width: 50px;
    height: 50px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .user_name {
    font-size: 10px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 155px;
  }
  .right_arrow {
    display: none;
  }
  #menu {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top_bar {
    background-color: #2c343b;
    font-family: 'ProximaNovaRegular';
    padding: 10px;
  }
  .imgSection {
    width: 20%;
    display: inline-block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 80%;
  }
  .searchSection {
    width: 49%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -11px;
  }
  .query {
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    width: 48%;
  }
  .location {
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    background: url("/website/images/toolbar_find.png") no-repeat 100% 6px;
    background-color: white;
    width: 48%;
  }
  .authSection {
    text-align: center;
    width: 29%;
    display: inline-block;
    position: relative;
    top: -10px;
  }
  .login {
    background-color: #E94643;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    font-size: 15px;
    border-radius: 2px;
  }
  .signup {
    background-color: #E94643;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    float: right;
    font-size: 15px;
    border-radius: 2px;
  }
  .main {
    position: relative;
    height: 500px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: -100px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 3%;
    margin-bottom: 80px;
  }
  .profile_pic {
    width: 200px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 3%;
    margin-bottom: 80px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .content {
    margin: 0px 30px 0px 30px;
  }
  .vert_navbar {
    width: 20%;
    background-color: #2c343b;
    display: inline-block;
    vertical-align: top;
    height: 755px;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 40px;
    margin-top: 3px;
    padding-top: 15px;
  }
  .vert_navbar div img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .vert_navbar div span {
    font-size: 20px;
    color: white;
    vertical-align: top;
    margin-left: 15px;
  }
  .display {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-right: thin solid;
    height: 755px;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 30px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 28%;
    display: inline-block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
  }
  .vis_stores ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .store_img {
    width: 45px;
    height: 45px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .store_name {
    font-size: 10px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 155px;
  }
  .rev {
    width: 30px;
    height: 50px;
    vertical-align: top;
  }
  .fav {
    width: 30px;
    height: 45px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    margin-left: 5px;
  }
  .near_stores ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .follow_suggestions ul {
    list-style-type: none;
    margin-left: -13%;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    margin-left: 5px;
  }
  .follow {
    width: 45px;
    height: 45px;
  }
  .user_img {
    width: 45px;
    height: 45px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .user_name {
    font-size: 10px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 155px;
  }
  .right_arrow {
    display: none;
  }
  #menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .right_arrow {
    display: none;
  }
  #menu {
    display: none;
  }
  .top_bar {
    background-color: #2c343b;
    padding: 10px;
    font-family: 'ProximaNovaRegular';
  }
  .imgSection {
    width: 20%;
    display: inline-block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 90%;
  }
  .searchSection {
    width: 49%;
    display: inline-block;
    position: relative;
    top: -11px;
    text-align: center;
  }
  .query {
    height: 30px;
    border-radius: 6px;
    font-size: 13px;
    width: 48%;
  }
  .location {
    height: 30px;
    border-radius: 6px;
    font-size: 13px;
    background: url("/website/images/toolbar_find.png") no-repeat 100% 0px;
    background-color: white;
    float: right;
    width: 48%;
  }
  .authSection {
    width: 29%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -10px;
  }
  .login {
    background-color: #E94643;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    font-size: 13px;
    border-radius: 2px;
  }
  .signup {
    background-color: #E94643;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
    font-size: 13px;
    border-radius: 2px;
    float: right;
  }
  .main {
    position: relative;
    height: 500px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: -75px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 5%;
    margin-bottom: 80px;
  }
  .profile_pic {
    width: 200px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 5%;
    margin-bottom: 80px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .content {
    margin: 0px 30px 0px 30px;
  }
  .vert_navbar {
    width: 20%;
    background-color: #2c343b;
    display: inline-block;
    vertical-align: top;
    height: 600px;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 30px;
    margin-top: 3px;
    padding-top: 15px;
  }
  .vert_navbar div img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  .vert_navbar div span {
    font-size: 15px;
    color: white;
    vertical-align: top;
    margin-left: 10px;
  }
  .display {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    border-right: thin solid;
    height: 600px;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 30px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 33%;
    display: inline-block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
  }
  .vis_stores ul {
    list-style-type: none;
    margin-left: -15%;
  }
  .store_img {
    width: 40px;
    height: 41px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 53%;
    height: 50px;
  }
  .store_name {
    font-size: 9px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 10px;
    height: 25px;
    word-wrap: break-word;
    max-width: 100%;
  }
  .rev {
    width: 20px;
    height: 40px;
    vertical-align: top;
  }
  .fav {
    width: 25px;
    height: 35px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 24%;
  }
  .near_stores ul {
    list-style-type: none;
    margin-left: -15%;
  }
  .follow_suggestions ul {
    list-style-type: none;
    margin-left: -15%;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 40px;
  }
  .follow {
    width: 40px;
    height: 40px;
  }
  .user_img {
    width: 40px;
    height: 41px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 59%;
    height: 50px;
  }
  .user_name {
    font-size: 9px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 10px;
    height: 25px;
    word-wrap: break-word;
    max-width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .top_bar {
    background-color: #2c343b;
    padding: 15px;
  }
  .imgSection {
    width: 100%;
    display: block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 100%;
  }
  .searchSection {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 5px;
  }
  .query {
    height: 40px;
    border-radius: 6px;
    width: 45%;
    font-size: 18px;
  }
  .location {
    height: 40px;
    border-radius: 6px;
    width: 48%;
    font-size: 18px;
    background: url("/website/images/toolbar_find.png") no-repeat top right;
    background-color: white;
  }
  .authSection {
    width: 100%;
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
  }
  .login {
    background-color: #E94643;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 19px;
    border-style: solid;
    border-color: #E94643;
  }
  .signup {
    background-color: #E94643;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 19px;
    border-style: solid;
    border-color: #E94643;
  }
  .main {
    position: relative;
    height: 500px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 5%;
    margin-bottom: 70px;
  }
  .profile_pic {
    width: 170px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 5%;
    margin-bottom: 70px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  #menu {
    width: 40px;
    display: block;
    background: black;
    font-size: 1.35em;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 30px;
    border-radius: 8px;
  }
  .vert_navbar {
    width: 100%;
    background-color: #2c343b;
    display: none;
    vertical-align: top;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 30px;
    margin-top: 3px;
    padding-top: 10px;
  }
  .vert_navbar div img {
    width: 25px;
    height: 25px;
  }
  .vert_navbar div span {
    font-size: 15px;
    color: white;
    vertical-align: top;
    margin-left: 15px;
  }
  .display {
    width: 100%;
    display: block;
    vertical-align: top;
  }
  .menu_div {
    background-color: #e4e2e2;
    text-align: center;
    border-bottom: thin solid #463741;
    width: 100%;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 35px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 100%;
    display: block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    background-color: #e4e2e2;
  }
  .vis_stores ul {
    list-style-type: none;
    display: none;
  }
  .store_img {
    width: 70px;
    height: 70px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .store_name {
    font-size: 15px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 16px;
    height: 25px;
    word-wrap: break-word;
    max-width: 70%;
  }
  .rev {
    width: 40px;
    height: 60px;
    vertical-align: top;
  }
  .fav {
    width: 50px;
    height: 50px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-left: 5px;
  }
  .near_stores ul {
    list-style-type: none;
    display: none;
  }
  .follow_suggestions ul {
    list-style-type: none;
    display: none;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    margin-left: 5px;
  }
  .follow {
    width: 70px;
    height: 70px;
  }
  .user_img {
    width: 60px;
    height: 60px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }
  .user_name {
    font-size: 13px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 15px;
    height: 25px;
    word-wrap: break-word;
    max-width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .top_bar {
    background-color: #2c343b;
    padding: 13px;
  }
  .imgSection {
    width: 100%;
    display: block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 100%;
  }
  .searchSection {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 5px;
  }
  .query {
    height: 33px;
    border-radius: 6px;
    width: 45%;
    font-size: 15px;
  }
  .location {
    height: 33px;
    border-radius: 6px;
    width: 47%;
    font-size: 15px;
    background: url("/website/images/toolbar_find.png") no-repeat top right;
    background-color: white;
  }
  .authSection {
    width: 100%;
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
  }
  .login {
    background-color: #E94643;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
  }
  .signup {
    background-color: #E94643;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
  }
  .main {
    position: relative;
    height: 550px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 5%;
    margin-bottom: 70px;
  }
  .profile_pic {
    width: 160px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 5%;
    margin-bottom: 70px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  #menu {
    width: 40px;
    display: block;
    background: black;
    font-size: 1.35em;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 30px;
    border-radius: 8px;
  }
  .vert_navbar {
    width: 100%;
    background-color: #2c343b;
    display: none;
    vertical-align: top;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 30px;
    margin-top: 3px;
    padding-top: 10px;
  }
  .vert_navbar div img {
    width: 25px;
    height: 25px;
  }
  .vert_navbar div span {
    font-size: 15px;
    color: white;
    vertical-align: top;
    margin-left: 15px;
  }
  .display {
    width: 100%;
    display: block;
    vertical-align: top;
  }
  .menu_div {
    background-color: #e4e2e2;
    text-align: center;
    border-bottom: thin solid #463741;
    width: 100%;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 35px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 100%;
    display: block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    background-color: #e4e2e2;
  }
  .vis_stores ul {
    list-style-type: none;
    display: none;
  }
  .store_img {
    width: 50px;
    height: 50px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .store_name {
    font-size: 11px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 70%;
  }
  .rev {
    width: 30px;
    height: 50px;
    vertical-align: top;
  }
  .fav {
    width: 40px;
    height: 45px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-left: 5px;
  }
  .near_stores ul {
    list-style-type: none;
    display: none;
  }
  .follow_suggestions ul {
    list-style-type: none;
    display: none;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    margin-left: 5px;
  }
  .follow {
    width: 40px;
    height: 40px;
  }
  .user_img {
    width: 50px;
    height: 50px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .user_name {
    font-size: 11px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 70%;
  }
}
@media only screen and (min-width: 50px) and (max-width: 319px) {
  .top_bar {
    background-color: #2c343b;
    padding: 15px;
  }
  .imgSection {
    width: 100%;
    display: block;
    text-align: center;
  }
  .logo {
    margin: auto;
    width: 100%;
  }
  .searchSection {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 5px;
  }
  .query {
    height: 30px;
    border-radius: 6px;
    width: 45%;
    font-size: 14px;
  }
  .location {
    height: 30px;
    border-radius: 6px;
    width: 47%;
    font-size: 14px;
    background: url("/website/images/toolbar_find.png") no-repeat top right;
    background-color: white;
  }
  .authSection {
    width: 100%;
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
  }
  .login {
    background-color: #E94643;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
  }
  .signup {
    background-color: #E94643;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #E94643;
  }
  .main {
    position: relative;
    height: 500px;
    font-family: 'ProximaNovaRegular';
  }
  .main_img {
    width: 100%;
    height: 100%;
  }
  .profile {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 75px;
    color: white;
    text-align: center;
  }
  .quote {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  .stats {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  .change_image {
    width: 5%;
    margin-bottom: 70px;
  }
  .profile_pic {
    width: 150px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .add_pic {
    width: 5%;
    margin-bottom: 70px;
  }
  .state {
    width: 100%;
    text-align: center;
  }
  .profile_stats {
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }
  #menu {
    width: 40px;
    display: block;
    background: black;
    font-size: 1.35em;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 30px;
    border-radius: 8px;
  }
  .vert_navbar {
    width: 100%;
    background-color: #2c343b;
    display: none;
    vertical-align: top;
  }
  .vert_navbar div {
    border-bottom: thin solid grey;
    height: 30px;
    margin-top: 3px;
    padding-top: 10px;
  }
  .vert_navbar div img {
    width: 25px;
    height: 25px;
  }
  .vert_navbar div span {
    font-size: 15px;
    color: white;
    vertical-align: top;
    margin-left: 15px;
  }
  .display {
    width: 100%;
    display: block;
    vertical-align: top;
  }
  .menu_div {
    background-color: #e4e2e2;
    text-align: center;
    border-bottom: thin solid #463741;
    width: 100%;
  }
  .disp_header {
    background-color: #e4e2e2;
    color: #463741;
    font-size: 35px;
    text-align: center;
    border-bottom: thick solid #463741;
  }
  .boy_img {
    width: 30%;
    display: inline-block;
  }
  .boy_img img {
    width: 100%;
  }
  .girl_img {
    width: 30%;
    display: inline-block;
  }
  .girl_img img {
    width: 91%;
  }
  .follow_list {
    width: 100%;
    display: block;
  }
  .follow_header {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    background-color: #e4e2e2;
  }
  .vis_stores ul {
    list-style-type: none;
    display: none;
  }
  .store_img {
    width: 45px;
    height: 45px;
  }
  .store_details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .store_name {
    font-size: 11px;
    font-weight: bolder;
    height: 5px;
  }
  .store_address {
    font-size: 12px;
    height: 25px;
    word-wrap: break-word;
    max-width: 70%;
  }
  .rev {
    width: 25px;
    height: 50px;
    vertical-align: top;
  }
  .fav {
    width: 35px;
    height: 45px;
  }
  .rev_fav {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-left: 5px;
  }
  .near_stores ul {
    list-style-type: none;
    display: none;
  }
  .follow_suggestions ul {
    list-style-type: none;
    display: none;
  }
  .follow_div {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    margin-left: 5px;
  }
  .follow {
    width: 40px;
    height: 40px;
  }
  .user_img {
    width: 40px;
    height: 40px;
  }
  .user_details {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50px;
  }
  .user_name {
    font-size: 9px;
    font-weight: bolder;
    height: 5px;
  }
  .user_review {
    font-size: 10px;
    height: 25px;
    word-wrap: break-word;
    max-width: 100%;
  }
}
